<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="API_INFO_RollingFile" fileName="logs/api_info.log"
                     filePattern="logs/$${date:yyyy-MM}/api_info_%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="10 MB" />
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </appenders>

    <loggers>
        <Logger name="com.mywechat.api" level="info" additivity="true">
            <AppenderRef ref="API_INFO_RollingFile"/>
        </Logger>
        <root level="debug">
            <appender-ref ref="Console"/>
            <!--<appender-ref ref="RollingFile"/>-->
        </root>
    </loggers>
</configuration>